<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<h2>My Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <% if current_user.organization.name.include? "Wind Up Pixel"%>
    <h3>You're a <%= current_user.organization.name %> team member.</h3> <br />
  <% elsif current_user.organization.name.include? "WUP" %>
    <h3><%= current_user.organization.name %> &mdash; Thanks for being a part of our team.</h3> <br />
  <% else %>
    <h3><%= current_user.organization.name %> &mdash; Welcome back!</h3> <br />
  <% end %>
    <% if can? :manage, Setting %>
      <% content_for :admin_links do %>
        <%= link_to icon('cog',2) + ' System Settings', settings_path, :class  => "adminactions" %>
      <% end %>
    <% end %>
    <% if can? :manage, Role %>
      <% content_for :admin_links do %>
          <!-- <%= link_to "Manage Other Users", "/", :class  => "adminactions" %> -->
      <% end %>
    <% end %>
    <% if can? :manage, Organization %>    
      <% content_for :admin_links do %>
          <%= link_to icon('group', 2) + ' Companies', organizations_path, :class  => "adminactions" %>
      <% end %>
    <% end %>
    <% if current_user.role? :admin %>
      <% content_for :admin_links do %>
        <%= link_to icon('envelope',2) +'Watched Topics Admin', subscriptions_path, :class => "adminactions" %>
      <% end %>
    <% else %>
      <% content_for :user_links do %>
        <%= link_to icon('envelope',2) + 'Manage Watched Topics', subscriptions_path, :class => "useractions" %>
      <% end %>
    <% end %>
  
  <div><%= f.label :firstname, "Name:" %><br />
  <%= f.text_field :firstname %></div><br>

  <div><%= f.label :email, "Email:" %><br />
  <%= f.email_field :email %></div><br>
  <div><%= f.label :password, "Change Your Password:" %> <i>(Leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>
  <div><%= f.label :password_confirmation, "Type Your New Password Again:" %><br />
  <%= f.password_field :password_confirmation %></div><br>
 
 <div><%= f.label :topicemail, "Want to receive emails when new Topics are posted?" %> <br />
        <%= radio_button(:user, :topicmail, true) %>
<%= label_tag(:emailyes, "Yes") %>
<%= radio_button(:user, :topicmail, false ) %>
<%= label_tag(:emailno, "No") %><br /></div><br>
   

  <div><%= f.label :current_password, "Current Password:" %> <i>(We need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div id="user-edit"><%= f.submit "Update Profile" %></div>
<% end %>
<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%# link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
 -->
<%= link_to "Back", :back %>