<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div><%= f.label :firstname, "Name:" %><br />
  <%= f.text_field :firstname %></div><br>

  <div><%= f.label :email %> <br />
  <%= f.email_field :email %></div>

  <div><%= f.label :registration_org_id %> <br />
  <%= f.text_field :registration_org_id %></div>
  
  <div><%= f.label :password %> <br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div id="sign-up"><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
