
<% add_nav_link( link_to "#{@project.name}", project_path(@project) )%> 

  <%= content_for(:page_title) do @project.name end %>
  <div id="issue" class="issue">
	<div> 
		<h2><%= @issue.title %></h2>
	</div>
	<div id="issue-desc" class="issue-desc">
		<%= github_render_text @issue.body  %>
	</div><!-- /issue-desc -->
</div><!-- /issue -->
<div id="comments" class="comments">
	<% @comments.each do |comment| %>
		<h2> <%= image_tag(comment.user.avatar_url) %> <%= comment.user.login %> commented: <span class="comment-date"> <%= Time.parse(comment.created_at).strftime("at %m/%d/%Y %I:%M%p") %> </span></h2>
		<div class="comment-body"> <%= github_render_text comment.body %> </div>
	<% end %>

	<%= render 'comment_form' %>

</div><!-- /comments -->


 