<%= form_for([@topic, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
<!-- make this work better on the new task page -->
  <% if !@task.wasbilled %>
    <div class="field">
      <div class="boldstuff">Billing Status:</div>
      Available Retainer Time: <%= englishtime(@topic.project.retainer_hours) %><br>
      Retainer Expires On: <%= @topic.project.retainer_expiration %><br>
      <%= f.label :active %>
      <%= f.check_box :active, :onclick =>"showBill();"  %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :billable %>
      <%= f.check_box :billable, :onclick =>"showBill();" %>
      <% if params[:action] == "edit" %> 
        <%= link_to "Charge", charge_topic_task_path(@topic, @task), :class =>"buttonstyle", :id =>"bill"%><br><br>
      <% end %>
    </div>
  <% end %>

  <div id="" class="field">
    <div>Who is working on this task?</div>
    <div class="checkbox-scroll">
      <% User.hasrole("wupteam").notblock.each do |user| %>
        <div id="" class="checkbox-group users">
          <%= radio_button_tag "task[user_ids][]", user.id, @task.user_ids.include?(user.id), :id => user.email %>
          <%= label_tag 'task[user_ids][]', user.email, :for => user.email %>
        </div><!-- / -->
      <% end %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
