<h2>Tasks for Topic <%=@topic.title.camelcase%></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Active</th>
    <th>Tasked To</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.time.to_d.round(2) %></td>
    <td><%= task.description %></td>
    <td><%= task.active %></td>
    <td><%= taskedto(task.user_ids) %></td>
    <td><%= link_to 'Show', topic_task_path(@topic, task) %></td>
    <td><%= link_to 'Edit', edit_topic_task_path(@topic, task) %></td>
    <td><%= link_to 'Destroy', topic_task_path(@topic, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Task', new_topic_task_path(@topic) %>
