<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Active</th>
    <th>Tasked To</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.time %></td>
    <td><%= task.description %></td>
    <td><%= task.active %></td>
    <!-- rewrite this next ugly line -->
    <td><%= User.find_by_id(task.user_ids).firstname %></td>
    <td><%= link_to 'Show', topic_task_path(@topic, task) %></td>
    <td><%= link_to 'Edit', edit_topic_task_path(@topic, task) %></td>
    <td><%= link_to 'Destroy', topic_task_path(@topic, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_topic_task_path(@topic) %>
