<% add_nav_link(link_to truncate(@topic.title, :length => 20), project_topic_path(@topic.project, @topic)) %>
<% add_nav_link(link_to truncate(@topic.project.name, :length => 20), project_path(@topic.project)) %>  

<h2><%= @task.name %></h2>
<p>
  <strong>Total Time Worked:</strong>
  <%= englishtime(@showsum) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<%= %>
<% if @task.active%>
  <p> 
   <strong>Task is active.</strong>
   <% if @task.user_ids.include? current_user.id %>
     <!--  Move this to next steps pane? -->
     <%= link_to "Mark for Review", review_topic_task_path(@topic, @task), :class =>"buttonstyle" %>
   <% end %>
  </p>
<% else %>
  <p>  
    <strong>Task is inactive.</strong>
  <p>
<% end %>

<% if @task.billable %>
  <p> 
    <strong>Task is billable.</strong>
  </p>
<% end %>
<p>
  <strong>Tasked to:</strong>
  <%= taskedto(@task.user_ids) %>
</p>

<%= content_for :admin_links do %>
	<%= logtime(@task.user_ids) %>

  <% if current_user.role? :admin %>
  <%= link_to 'Edit Task', edit_topic_task_path(@topic, @task), :class =>"adminactions" %>
  <%if @task.audits.count > 1 %>
    <% if !@task.active && ready_for_review(@task) %>
    <%= link_to "Approve", approve_topic_task_path(@topic, @task), :class =>"adminactions" %> 
    <!-- this could use some sort of Decline action too... -->
    <% end %>
  <% end %>
<% end %>
<% end %>

<%= render 'taskupdates' %>
