<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Time:</b>
  <%= @timeeng.first %> hours and <%= @minseng.first %> minutes 
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Active:</b>
  <%= @task.active %>
</p>

<p>
  <b>Tasked to:</b>
  <%= taskedto(@task.user_ids) %>
</p>

<%= content_for :admin_links do %>
	<%= logtime(@task.user_ids) %>

<% end %>

<%= link_to 'Edit', edit_topic_task_path(@topic, @task) %> |
<%= link_to 'Back', topic_tasks_path %>
