<% add_nav_link(link_to truncate(@topic.title, :length => 20), project_topic_path(@topic.project, @topic)) %>
<% add_nav_link(link_to truncate(@topic.project.name, :length => 20), project_path(@topic.project)) %>  

<h2><%= @task.name %></h2>
<p>
  <strong>Total Time Worked:</strong>
  <%= englishtime(@showsum) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Active?</strong>
  <%= @task.active %>
</p>

<p>
  <strong>Billable?</strong>
  <%= @task.billable %>
</p>


<p>
  <strong>Tasked to:</strong>
  <%= taskedto(@task.user_ids) %>
</p>

<%= content_for :admin_links do %>
	<%= logtime(@task.user_ids) %>

<% end %>

<%= render 'taskupdates' %>

<%= link_to 'Edit', edit_topic_task_path(@topic, @task) %> |
<%= link_to 'Back', topic_tasks_path %>
