<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<p>
  		<img src ="http://www.wupcdn.com/wupassets/wup-mailer.png">
  	</p>
    <h2>The Task "<%= @subjecttitle %>" is ready for review.</h2>
    <p>
      Click the following link to view the Task: <a href="http://collaborator.winduppixel.com/topics/<%= @topicid %>/tasks/<%= @taskid %>"> http://collaborator.winduppixel.com/topics/<%= @topicid %>/tasks/<%= @taskid %></a>
    </p>
    <br />
    <hr />
    <p style="font-size:8pt;">If you believe this to be an error, please contact the worker(s) on this task.</p>  

  <!--   <p style="font-size:8pt;">You can adjust your subscriptions in the subscription management page at <%# link_to "http://collaborator.winduppixel.com/subscriptions", "http://collaborator.winduppixel.com/subscriptions", :target => "_blank" %></p> -->
 
  </body>
</html>