<%= form_for [@project, @topic] do |f| %> 
   <div style="width:300px"><%= f.error_messages %></div>
	<div id="" class="form-spacer">
		<%= f.label "What's on your mind?" %>
		<br />
		<%= f.text_field :title, :size=> "54"%>
      <%= f.error_message_on(:title) %>
	</div><!-- / -->
	<div id="" class="form-spacer">
		<%= f.label "Anything else you'd like to tell us?" %>
		<br />
		<%= f.text_area :body %>
      <%= f.error_message_on(:body) %>
    </div>
    
  <% if can? :manage, Topic %>
        <div id="" class="form-spacer">
        	<%= f.label "Hours Required To Complete This?" %>
        	<br />
        	<%= f.text_field :hoursreq %>
          <%= f.error_message_on(:hoursreq) %>
        </div>
        <div id="" class="form-spacer">
        	<%= f.label "Hours Spent Working on This?" %>
        	 	<br />
        	<%= f.text_field :hoursused  %>
          <%= f.error_message_on(:hoursused) %>
        </div>

        <div id="" class="form-spacer">
          <%= f.label "Is this being worked on yet?" %> <br />
     <%= radio_button(:topic,:work_status, 1) %>
<%= label_tag(:status_working, "I'm working on this.") %><br />
<%= radio_button(:topic,:work_status, 2) %>
<%= label_tag(:status_awaiting, "I'm awaiting client feedback on this.") %><br />
<%= radio_button(:topic,:work_status, 3) %>
<%= label_tag(:status_complete, "I'm done with this.") %><br />
</div>

        <div id="" class="form-spacer">
          <%= f.label "How should this topic be categorized?" %> <br />
     <%= radio_button(:topic,:topic_tag, "New Topic,newtopictag") %>
<%= label_tag(:taglabel1, "New Topic") %><br />
<%= radio_button(:topic,:topic_tag, "Bug,bugtag") %>
<%= label_tag(:taglabel2, "Bug") %><br />
<%= radio_button(:topic,:topic_tag, "Planned Work,plannedtag") %>
<%= label_tag(:taglabel3, "Planned Work") %><br />
<%= radio_button(:topic,:topic_tag, "New Feature,featuretag") %>
<%= label_tag(:taglabel4, "New Feature") %><br />
<%= radio_button(:topic,:topic_tag, "Question,questiontag") %>
<%= label_tag(:taglabel4, "Question") %><br />
</div>

              <% end %>

	<%= hidden_field_tag "last_page", http_referer_helper %>
	<div id="topic-submit" class="">
		<%= f.submit "Submit Topic" %>

	</div><!-- / -->
<% end %> 


