<%= link_to topic.title, project_topic_path(@project, topic) %> 
<% @topic_split = topic.topic_tag.split(",",2) %><br>
<span class="taglabel <%= @topic_split.last %>"><%= @topic_split.first%></span>

<% @commentcount = 0 %>
<% topic.comments.each do |comment| %>
	<% if comment.created_at > 2.day.ago %>
		<% @commentcount += 1 %>
	<% end %>
<% end %>
<% #if @topic_split.first == "New Topic" %>
	<% #@topicnew = 1 %>
<% #end %>


	<% if @commentcount > 0 %>
		<% if topic.work_status == 3 || topic.hoursused %>
			<div class="boldstuff ">
				Updates
			</div>
		<% end %>

	<% end%>

	<% if @commentcount > 0 %>
		<span class="topicunder "><%= @commentcount %> new comments!</span><br>
	<% elsif @commentcount == 0 && topic.created_at < 2.day.ago %>
		<div class="boldstuff ">
				No recent updates.
			</div>
	<% end %>

	<% if (can? :manage, :all) %><br>
		<%   if topic.hoursused and topic.hoursreq  %>
	   		<% @overage = topic.hoursused - topic.hoursreq  %>
	    <% end %>
  
		<span class="boldstuff ">
		Admin Zone<br></span>
		<!-- do a tasks overview maybe or on second thought move all this to the new resources dashboard -->
		<%# topic.tasks.active.count.to_s + ' Active Tasks.' if topic.tasks.active.count > 0 %>

		<% if topic.hoursused == 0 %>
			<span class="topicover "> Topic not started.<br> </span>
		<% end %>

		<% if @overage.to_i > 0 %>
		<span class="topicover"><%= englishtime(@overage) %><br>
		</span>
		<% end%>

		<% if @overage.to_i <0 %>
		<span class="topicunder"><%= englishtime(@overage.abs) %> <br></span>
		<% end%>
		<span class="project-admin">
			<%= link_to "Edit Topic", project_topic_path(@project, topic) + "/edit", :class => "" %>
		</span>
			
		<% end %>

