
<% add_nav_link( link_to "#{@project.name}", project_path(@project) )%> 

  <%= content_for(:page_title) do @project.name end %>
  <div id="topic" class="topic">
	<div> 
		<h2><%= @topic.title %></h2>
	</div>
	<div id="topic-desc" class="topic-desc">
		<%= github_render_text @topic.body  %>
	</div><!-- /topic-desc -->
</div><!-- /topic -->
<div id="comments" class="comments">
	<% @comments.each do |comment| %>
		<h2> <%= image_tag(comment.user.avatar_url) %> <%= comment.user.login %> commented: <span class="comment-date"> <%= Time.parse(comment.created_at).strftime("at %m/%d/%Y %I:%M%p") %> </span></h2>
		<div class="comment-body"> <%= github_render_text comment.body %> </div>
	<% end %>

	<%= render 'comment_form' %>

</div><!-- /comments -->

<% content_for :admin_links do %>
	<%= link_to 'View Issue on Github', 'http://www.github.com/' + @project.repo + '/issues/' + @topic.number.to_s , :target => "_blank", :class => "adminactions" %>

	<% end %>


 