
<% add_nav_link( link_to "#{@project.name}", project_path(@project) )%> 

  <%= content_for(:page_title) do @topic.project.name end %>
  <div id="topic" class="topic">
	<div> 
		<h2><%= @topic.title %></h2>
	</div>
	<div id="topic-desc" class="topic-desc">
		<%= github_render_text @topic.body  %>
	</div><!-- /topic-desc -->
</div><!-- /topic -->
<div id="comments" class="comments">
	<% @topic.comments.each do |comment| %>
	
		<h2> [User Gravatar..] <span class="comment-user"><%= comment.user.email %> says:</span> <span class="comment-date"> <%= comment.created_at.strftime("at %m/%d/%Y %I:%M%p") %></span></h2>
		<div class="comment-body"> <%= github_render_text comment.body %> </div>
	<% end %>

	<%= render 'comment_form' %>

</div><!-- /comments -->

<% content_for :admin_links do %>
	<%= link_to 'Edit Topic Info', project_path(@project) + edit_topic_path(@topic), :class  => "adminactions" %>
<% end %>


 