
<% add_nav_link( link_to "#{@project.name}", project_path(@project) )%> 
<% @amountcomplete = @topic.hoursused.to_f / @topic.hoursreq.to_f %>
<% @amountcomplete.ceil %>
<% @overage = @topic.hoursused - @topic.hoursreq %>
<% if @amountcomplete > 1  && @overage > 0
	@amountcomplete = 0.9
	end %>
<% @percentcomplete =number_to_percentage(@amountcomplete*100, :precision => 0)	 %>

  <%= content_for(:page_title) do @topic.project.name end %>
  <div id="topic" class="topic">
	
		<h2><%= @topic.title %></h2>
	</div>
	<% if @amountcomplete > 0.0 %>
	<div id="barholder">
		Percentage Complete:
			<span id="percenttext"><%= @percentcomplete %></span>
		<div id="bar">
			<span id="barfill" style="width:<%= @percentcomplete %>;">
			</span>
	
		</div>
	</div>
	<% end %>
	<div id="topic-desc" class="topic-desc">

	<br>
	Topic Description: <%= github_render_text @topic.body  %>
	</div><!-- /topic-desc -->
</div><!-- /topic -->
<div id="comments" class="comments">
	<% @topic.comments.each do |comment| %>
	
		<h2> [User Gravatar..] <span class="comment-user"><%= comment.user.email %> says:</span> <span class="comment-date"> <%= comment.created_at.strftime("at %m/%d/%Y %I:%M%p") %></span></h2>
		<div class="comment-body"> <%= github_render_text comment.body %> </div>
	<% end %>

	<%= render 'comment_form' %>

</div><!-- /comments -->

<% content_for :admin_links do %>
	<%= link_to 'Edit Topic Info', edit_project_topic_path(@topic.project, @topic), :class  => "adminactions" %>
<% if @overage >0 %>
		<span class ="field_with_errors"> You are <%= @overage %> hour(s) over estimated time. </span>
		<%end%>
<% end %>


 