<% add_nav_link(link_to "#{@project.name}", project_path(@project)) %>

<% @percentcomplete =number_to_percentage(@topic.amountcomplete*100, :precision => 0) %>

<h1><%= @topic.title %></h1>

<div id="topic" class="topic">
  <% if @topic.amountcomplete > 0.0 %>
      <div id="barholder">

        <span class="boldstuff">Percentage Complete: </span>
        <span id="percenttext"><%= @percentcomplete %></span>

        <div id="bar">
          <span id="barfill" style="width:<%= @percentcomplete %>;">
          </span>
        </div>
      </div>
      <br>
  <% end %>

	<div id="topic-desc" class="topic-desc">
		<div class="boldstuff">Topic Description:</div> <%= github_render_text @topic.body %>
    <% unless @topic.attachments == [] %>
    <%= render 'filelist' %>
    <% end %>
    <% if current_user.role? :admin or current_user.role? :wupteam %>
      <% unless @topic.report_lastpage == "None" %>
        <%= render 'errorreport'  %>
      <% end %>
  <% end%>
</div><!-- /topic-desc -->
</div><!-- /topic -->

<div id="comments" class="comments">
  <% @comment_page.each do |comment| %>
      <%# TODO: This needs to be a partial %>
      <h2><span class="comment-user"><%= comment.user.email %> says:</span>
        <span class="comment-date"> <%= distance_of_time_in_words_to_now(comment.created_at) + " ago" %></span></h2>

      <div class="comment-body"> <%= github_render_text comment.body %> </div>
  <% end %>
  <div class="comment_pagination">
    <div class="page_info">
      <%= page_entries_info @comment_page, :entry_name => 'item' %>
    </div>
    <div class="pagelinks">
    <%= will_paginate @comment_page, :container => false %>
  </div>
  </div>


   <%= render 'comments/form', :object => @topic.comments.build %>

</div><!-- /comments -->

<% content_for :user_links do %>
  <%= subscription_link(@subscription, @topic) %>
  <%= link_to 'Attach Files', attach_project_topic_path(@topic.project, @topic), :class => "useractions" %>
<% end %>

<% content_for :admin_links do %>
    <%= link_to 'Edit Topic Info', edit_project_topic_path(@topic.project, @topic), :class => "adminactions" %>
    <% if @topic.overage > 0 %>
        <span class="topicover"> You are <%= @topic.overage %> hour(s) over estimated time. </span>
    <% end %>
    <% if @topic.overage < 0 && @topic.work_status == 3 %>
        <span class="topicunder">You completed this task with <%= @topic.overage.abs %> hour(s) left to spare. </span>
    <% end %>
<% end %>


