<% add_nav_link(link_to "My Profile", edit_user_registration_path(@user)) %>
<h1>Listing settings</h1>

<table  id="settingstable">
  <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Value</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.key %></td>
    <td><%= setting.value %></td>
    <td><%= setting.description %></td>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
    <td><%= link_to 'Destroy', setting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
