<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :repo %><br />
    <%= f.text_field :repo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div id="" class="field">
    <div>Who has access to this project?</div>
    <div class="checkbox-scroll">
      <% User.all.each do |user| %>
        <div id="" class="checkbox-group users">
          <%= check_box_tag "project[user_ids][]", user.id, @project.user_ids.include?(user.id), :id => user.email %>
          <%= label_tag 'project[user_ids][]', user.email, :for => user.email %>
        </div><!-- / -->
      <% end %>
  </div>
  </div><!-- / -->
  <div id="" class="label-form">
    <div>What labels can your customers view?<div/>
    <div class="checkbox-scroll tags">
      <%  @project.labels.sort.each do |label| %>   
        <div id="" class="checkbox-group">
          <%= check_box_tag "enable_label[]", label.id, label.enabled, :id => label.name %>
          <%= label_tag 'enable_label[]', label.name, :for=> label.name %>
      </div>
      <% end %>
    </div>
  </div><!-- / -->
  <div id="" class="">
    <%= f.label :retainer_hours %>
    <%= f.text_field :retainer_hours %>
  </div><!-- / -->
  <div id="" class="">
    <%= f.label :retainer_expiration %>
    <%= date_select :project, :retainer_expiration %>
  </div><!-- / -->
  <div id="project-edit-submit" class="actions">
    <%= f.submit %>
  </div>
<% end %>
