<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :repo %><br />
    <%= f.text_field :repo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div id="" class="field">
    <% User.all.each do |user| %>
      <%= check_box_tag "project[user_ids][]", user.id, @project.user_ids.include?(user.id), :id => user.email %>
      <%= label_tag 'project[user_ids][]', user.email, :for => user.email %>
    <% end %>
  </div><!-- / -->
  <div id="" class="">
    <%  @project.labels.sort.each do |label| %>   
      <%= check_box_tag "enable_label[]", label.id, label.enabled, :id => label.name %>
      <%= label_tag 'enable_label[]', label.name, :for=> label.name %>
    <% end %>
  </div><!-- / -->
  <div id="" class="">
    <%= f.label :retainer_hours %>
    <%= f.text_field :retainer_hours %>
  </div><!-- / -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
