<% if current_user.role? :admin %>
	<% content_for :admin_links do %>
		<%= link_to icon('plus', 2) +' New Project', new_project_path, :class=>"adminactions" %>
	<% end %>
<% end %>
<div id="projects" class="">
	<div id="project-list-heading">My Active Projects:</div>
	<% @projects.each do |project| %>
		<div id="project<%= project.id %>" class="project shadow round stroke inset">
		    <div><%= link_to project.name, project %>
	    	<!-- disabled temporarily
		    	<% if project.edit_date %>
		    		<div class="project-updated">Last updated <%= distance_of_time_in_words_to_now( project.edit_date ) %> ago.</div>
		    	<% end  %>
		    -->
		    </div>
		    
		    <% if can? :manage, Project %>
				<div class="project-admin">	    
					
					<div>Admin Zone:</div> 
					
					<div>Repository: <%= project.repo %></div>
					<!-- <div><%# Topic.sum(:overage, :conditions => ['project => ?', 1])  %> </div> -->
				    <div>
					    <span><%= link_to 'Edit', edit_project_path(project) %></span> | 
					    <span><%= link_to 'Delete', project, confirm: 'Are you sure?', method: :delete %></span>
    				</div>

				</div>
			<% else %>	
				<div class="project-admin">
					<div>Project Goals:</div>
					<%= truncate(project.description, :length => 200, :separator => ' ') %>
                </div>
			<% end %>

		</div>
	<% end %>

	<% if @projects.count < 1 %>
		You currently have no projects. Please contact Wind Up Pixel to enable project visibility.
	<% end %>
	
</div><!-- /projects -->
