	<%= content_for(:page_title) do @project.name end %>

<div id="topics-list">
	<%= render "topics" %>
</div> <!-- /topics-list -->

<div id="project-heading">
	My Project Goals:
</div>

<div id="project-desc" class="inset stroke round">
	<%= auto_link(simple_format(@project.description))%>	
</div><!-- /project-desc -->
  <% if @project.retainer_hours > 0 && @project.retainer_expiration > Time.now.to_date-1 %>
	<div id="retainer-heading">
        My One-on-One Support:<br /> 
	</div>
	<div id="retainer-hours" class="">
		This Month's Support Time: <%= @project.retainer_hours %> Hours<br/>
		<!-- Your Support Period Concludes In: <%= distance_of_time_in_words_to_now @project.retainer_expiration %> -->
		Your Support Period Concludes On: <%= @project.retainer_expiration %>
	</div><!-- /retainer-hours -->
<% else %>
	<%# This is where retainer expired could go, if we had a flag for that.. %>
<% end %>

<% content_for :user_links do %>
	<%= link_to "Submit a new Topic.", new_project_topic_path(@project), :class  => "useractions" %>
	<%= link_to "Check out your site.", @project.url,  :target => "_blank", :class  => "useractions" %>
	<h4>or</h4>
	<h4>Click on a Topic to the right.</h4>
<% end %><!-- / -->

<% content_for :admin_links do %>
	<%= link_to 'Edit Project Info', edit_project_path(@project), :class  => "adminactions" %>
	<%= link_to 'View Project on Github', 'http://www.github.com/' + @project.repo, :target => "_blank", :class  => "adminactions" %>
	
<% end %>
