

  <%= content_for(:page_title) do @project.name end %>
<div id="" class="">
	<%= link_to "Create a new issue", new_project_issue_path(@project) %>
</div><!-- / -->
<div id="retainer-hours" class="">
	Retainer hours remaining: <%= @project.retainer_hours %>
</div><!-- /retainer-hours -->
<div id="project-desc" class="inset stroke round">
	<%= auto_link(simple_format(@project.description))%>	
</div><!-- /project-desc -->
  
<div id="issues-list">
	<%= render "issues" %>
</div> <!-- /issues-list -->

<% content_for :admin_links do %>
	<%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
