	<%= content_for(:page_title) do @project.name end %>

<div id="project-heading">
	My Project Goals:
</div>

<div id="project-desc" class="inset stroke round">
	<%= auto_link(simple_format(@project.description))%>	
</div><!-- /project-desc -->
  <% if @project.retainer_hours > 0 && @project.retainer_expiration > Time.now.to_date-1 %>
	<div id="retainer-heading">
        My One-on-One Support:<br /> 
	</div>
	<div id="retainer-hours" class="">
		This Month's Support Time: <%= @project.retainer_hours %> Hours<br/>
		<!-- Your Support Period Concludes In: <%= distance_of_time_in_words_to_now @project.retainer_expiration %> -->
		Your Support Period Concludes On: <%= @project.retainer_expiration %>
	</div><!-- /retainer-hours -->
<% else %>
	<%# This is where retainer expired could go, if we had a flag for that.. %>
<% end %>

<div id="topics-list">
	<!-- <ul id="" class="topics-ul"> -->
		<% @project.topics.take(1).each do |topic| %>
		<% if @project.topics.topic_for_approval.exists? %>
		<div class ="topics-heading">Topics Awaiting Client Feedback:  <a href="javascript:void(0);" class="show_hide_awaiting">Show/Hide</a></div>
		
	<div class="slidingDiv_awaiting topics-ul">
		<%end%>
		<%end%>
		<% @project.topics.topic_for_approval.each do |topic| %>

			<%= render partial: topic, layout: 'layouts/li_layout' %>
		<% end %>
		</div>


		<% @project.topics.take(1).each do |topic| %>
		<% if @project.topics.active.exists? %>
			<div class="topics-heading">Topics We're Working On:<a href="javascript:void(0);" class="show_hide_working">Show/Hide</a></div>
				<div class="slidingDiv_working topics-ul">
		<%end%>
		<%end%>
		<% @project.topics.active.each do |topic| %>
			<%= render partial: topic, layout: 'layouts/li_layout' %>
		<% end %>
				</div>

		<% @project.topics.take(1).each do |topic| %>
		<% if @project.topics.complete.exists? %>
			<div class="topics-heading">Completed Topics:<a href="javascript:void(0);" class="show_hide_complete">Show/Hide</a></div>
			<div class="slidingDiv_complete topics-ul">
		<%end%>
		<%end%>
		<% @project.topics.complete.each do |topic| %>
		<%= render partial: topic, layout: 'layouts/li_layout' %>
		<% end %>
				</div>

	<!-- </ul> / -->

</div> <!-- /topics-list -->


<% content_for :user_links do %>
	<%= link_to "Submit a New Topic.", new_project_topic_path(@project), :class  => "useractions" %>
	<!-- this is ugly as shit -->
	<%if @project.url != "http://none" %>
 	<%= link_to "Check Out Your " + @project.ptype + ".", @project.url,  :target => "_blank", :class  => "useractions" %>
 	<% end %>
	<h4>or</h4>
	<h4>Click on a Topic to the right.</h4>
<% end %><!-- / -->

<% content_for :admin_links do %>
	<%= link_to 'Edit Project Info', edit_project_path(@project), :class  => "adminactions" %>
	<%= link_to 'View Project on Github', 'http://www.github.com/' + @project.repo, :target => "_blank", :class  => "adminactions" %>
	
<% end %>
