
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Repo:</b>
  <%= @project.repo %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
	<%= render "issues" %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
