<%= form_for @wiki do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation" style="width:350px;">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => @newtitle, :style => "width:45%" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => "width: 100%" %>
  </div>
  <div class="field">
    <%= f.label :postcategory, "What's the article's category (if any)?" %><br />
    <%= f.text_field :postcategory, :value => @catname %>
  </div>


    <%= f.hidden_field :changetag, :value => "first" %>


  <div class="actions">
    <%= f.submit :value => "Create Article" %>
  </div>
<% end %>

<% content_for :admin_links do %>
  <div id="antihelper" style="font-size:13px;">
    <h2 class="centered">Wiki Reference</h2>
    <hr style="border:none;border-top:1px dashed #ccc;">
    <p class="indent"><span class="boldstuff">##</span> Bigish headline</p>
    <p class="indent"><span class="boldstuff">###</span> Smallish headline</p>
    <p class="indent"><span class="boldstuff">*text*</span> Italics</p>
    <p class="indent"><span class="boldstuff">**text**</span> Bold Text</p>
    <p class="indent"><span class="boldstuff">*</span> Bulleted List</p>
    <p class="indent"><span class="boldstuff">`text`</span> Code Span</p>
    <p class="indent"><span class="boldstuff">***</span> Horizontal Rule</p>
    <p class="indent"><span class="boldstuff">[linktext](URL)</span> Hyperlink</p>
    <p class="indent"><span class="boldstuff">[linktext](~URL)</span> Hyperlink to a Category</p>
    <p class="indent"><span class="boldstuff">[linktext](~~URL)</span> Hyperlink to an Article</p>
  </div>
<% end %>