<h2>Viewing <%= @wiki.title %></h2><h3>Edit number <%= @newaudit.id %> </h3><hr><br>
<div class="boldstuff">What this article looked like after edit number <%= @newaudit.id %>:</div>
<div id="wikicatbox" style="text-align:left; background: #DDD;"><%= wiki_body(@newaudit.modifications['body']) %></div>
<br>
<div class="boldstuff">What was changed at edit number <%= @newaudit.id %>:</div>
<div id="wikicatbox" style="text-align:left; background: #DDD;"><%= @newaudit.tag %></div>
<br>
<div class="boldstuff">The content of this article at previous edit:</div>
<div id="wikicatbox" style="text-align:left; background: #DDD;"><%= wiki_body(@oldaudit.modifications['body']) %></div>

<%= link_to "Revert to previous edit", :controller => "wikis", :action => "revert" %> | <%= link_to "Go Back", :back %>