<table class="wikipost">
	<% if @wikicat.count >0 %>
	<h2>Category: <%= @catname.humanize.titlecase %></h2>
		<p>Here's a list of articles about <span class="boldstuff"><%= @catname.humanize.titlecase %>.</span></p>
		<% @wikicat.each do |wiki| %>
			  
			  	<tr>

			    <td><%= link_to wiki.title, wiki %></td>
			  </tr>

			<% end %>
			<tr>
				<td><br>
				<%= link_to 'Create More Articles About ' << @catname.humanize.titlecase, new_wiki_path << "/"<<@catname %>
				</td>
			</tr>
			<% else  %>
				<h2>The category <%= @catname.humanize.titlecase %> doesn't exist.</h2><p>Why don't you <%= link_to 'create an article ', new_wiki_path << "/" << @catname %> for this category?</p>

			<% end %>
			</table>
		