<table class="wikipost">
<% @wikis.each do |wiki| %>
  <tr>
    <!-- <td><h3><%# link_to wiki.title, wiki %></h3></td> -->
    <td> <%=  wiki_body(wiki.body) %></td>
  
   <!--  <td><%# link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td> --></tr>
    <tr>
  <td><br></td>
  </tr>

<% end %>
</table>

<div class="wikipost">
<table id="orgtable blue" class="wikipost">
<h3>Recent Updates</h3>
  <tr class="boldstuff" style="border-bottom:1px #ccc dashed;">
    <td>Article Name</td>
    <td>Updated</td>
  </tr>
<% @allwikis.each do |wiki| %>

    <tr>
    <td><%= link_to wiki.title, wiki %></td>
    <td><%= distance_of_time_in_words_to_now(wiki.updated_at) %> ago.</td>
  
    <td><%# link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
    <tr>
  <td><%# link_to 'Edit', edit_wiki_path(wiki) %></td>
  </tr>

<% end %>
</table>


</div>

<% content_for :admin_links do %>

<%= link_to icon('pencil',2) +' Edit Homepage', edit_wiki_path(@wikis), :class => "adminactions" %>
<%= link_to icon('file',2) + ' New Article', new_wiki_path, :class => "adminactions" %>
  <% end %>



