<p>
 <h2> <%= @wiki.title %> </h2>
</p>
<div class="wikipost">
<p>
  <%= wiki_body(@wiki.body.gsub('@@','/wikis/').gsub('@','/wikis/cate/'))%>
</p>
</div>

<%# category_list(@wiki.postcategory) %>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
<%= render 'category' %>
<%= render 'articlechanges' %>
