<div id="session-splash">
<h2>
Collaborator
</h2>
<h3 style="margin-top:-20px;">
  Step into our virtual office.
</h3>
<div>
Collaborator is a venue for our clients and creative team to work together as peers from anywhere.
</div>
<br>
<div>
  <div><%= iconinline('road', '#915C44', 4) %></div>
  <div class="benefit">Control the direction of your project's design and development.</div>
</div>
<br><br>
<div>
  <div><%= iconinline('comments-alt', 'indianred', 4) %></div>
  <div class="benefit">Communicate with everyone who is working on your projects.</div>
</div>
<br><br>
<div>
  <div><%= iconinline('time', 'forestgreen', 4) %></div>
  <div class="benefit">Get insight into what's being worked on and when it'll be complete.</div>
</div>
</div>
<div id="session-form"><h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <div id="sign-in"><%= f.submit "Sign in" %>  <%= link_to "Sign Up", new_user_registration_path, :class =>  "buttonstyle" %></div>
<% end %>
<%= link_to '&nbsp;'.html_safe + "Forget Your Password?", new_user_password_path  %>
<%# render "links" %>
</div>

