<% add_nav_link(link_to "My Profile", edit_user_registration_path(@user)) %>
<h1>Company Admin</h1>

<table id="orgtable">
  <tr>
    <th>Name </th>
    <th>Organization ID</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.org_id %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New company', new_organization_path %>
