<!DOCTYPE html>

<% 
	unless current_page?(controller: 'projects', action: 'index') 
		add_nav_link( link_to "Home", projects_path ) 
	end 	
%>

<html>
<head>



	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wind Up Pixel - Collaborator</title>
  <%= stylesheet_link_tag "application" %>
  <%# stylesheet_link_tag "screen", :media => "screen" %>
  <%# stylesheet_link_tag "mobile", :media => "only screen and (max-device-width: 550px)" %>
  <%= javascript_include_tag "application" %>
 <%= javascript_include_tag "ui.core" %>
  <%= javascript_include_tag "jquery.scrollfollow" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://www.winduppixel.com/favicon.gif">
  	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv_working").show();
        $(".show_hide_working").show();
 
    $('.show_hide_working').click(function(){
    $(".slidingDiv_working").slideToggle();
    });
 
   $(".slidingDiv_awaiting").show();
        $(".show_hide_awaiting").show();
 
    $('.show_hide_awaiting').click(function(){
    $(".slidingDiv_awaiting").slideToggle();
    });

      $(".slidingDiv_complete").hide();
        $(".show_hide_complete").show();
 
    $('.show_hide_complete').click(function(){
    $(".slidingDiv_complete").slideToggle();
    });

   		$( document ).ready( function ()
			{
				$( '#next-steps' ).scrollFollow({
					speed: 300,
    offset: 60,
				});
			}
		);
 

});
 
</script>

	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34276488-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>
<body>
<div id="wrap" class="wrap">
	<header id="header" class="">
		<div id="top-box" class="top-box">
			
		</div><!-- /top-box -->

		<div id="wup-name" class="wup-name">
		<div id="logo">
<%= link_to image_tag("logo.png", :size => "121x103"), root_path %>

	</div>
		<%= link_to "WIND UP PIXEL", root_path %>
		</div><!-- /wup-name -->	

		<nav>	
				<div class="web-strategy">
			<%= link_to "COLLABORATOR", root_path %>
		</div>
			<div id="nav-wrap" class="nav-wrap">

				<%= nav_links_menu %>
			</div><!-- /nav-wrap -->
			
		</nav>

		
	</header><!-- /header -->

		<section id="main">

			<div id="content"  class="main">
			<aside id="page-image">
			<% if content_for? :page_image %>
				<%= yield :page_image %>
			<% else %>
				<%# image_tag 'wup-bot.png' %>
			<% end %>
			</aside>
				<div id="content-wrap">
					<% unless current_page?(action: 'new', controller: 'sessions') %>
						<div id="user-nav" class="round shadow inset stroke">
							<% if user_signed_in? %>
								Welcome, <%= link_to current_user.email, edit_user_registration_path %> |  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
							<% else %>
								<%# Really, this should never appear since we've locked down the app %>
								<%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>
							<% end %>
						</div><!-- /user-nav -->

						<% if content_for?( :admin_links) or content_for?( :user_links ) %>
	

	<div id="next-steps" class="">
							<h3>Next Steps:</h3> <br>
									<%  #if can?( :manage, :all )  %>
									<% if current_user.role? :wupteam or current_user.role? :admin %>
									<!-- <div id="admin-links" class=""> -->
							
									<!-- <span id="admin-links-stub">Admin Links:</span> -->
							
									 <%= yield :admin_links %>
									 
									
								<!-- /admin-links -->
							<% end %>
							<% if content_for?( :user_links ) %>
									<%= yield :user_links %>
							<% end %>
							</div>
						<% end %>
					<% end %>
					<div id="flash-box" class="flash-box">
						<% flash.each do |key, value| %>
							<div id='<%= key %>' class="flash">
								<%= value %>
							</div><!-- /<%= key %> -->
						<% end %>
					</div><!-- /flash-box -->
					
					<% if content_for?( :page_title ) %>
						<h1><%= yield :page_title %></h1>
					<% end  %>
					
					<%= yield %>
				</div>
			</div>
			
	</section><!-- /main -->
	<div style="clear:both"></div>
	<footer>
		<div >
			<span class="first">WIND UP PIXEL &#169; 2012</span><span class="middle">PH: <a href="tel:+1-312.554.5095">312.554.5095</a></span><span class="last">E: <a href="mailto:contact@winduppixel.com">CONTACT@WINDUPPIXEL.COM</a></span>
		</div>
	</footer>
</div><!-- /wrap -->
<%= image_tag "beta.png", :class => "beta" %>
</body>
		

</html>
